<h1>{{ route.title }}</h1>
<p>{{ route.summary }}</p>
<p>{{ route.description }}</p>
{% for img in route.associations.images %}
    <figure>
        <img src="{{ img.medium }}"
             alt="{{ img.title }}">
        <figcaption>{{ img.title }}</figcaption>
    </figure>
{% endfor %}
